{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="look"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col my-5 text-center mt-3">
                <h2 class="text-gray my-5">Shoping Cart</h2>
                <hr class="w-50 mb-1 my-5">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="text-black mb-5">Your shoping cart is empty!</p>
                    <a href="{% url 'products' %}" class="btn btn-green rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left text-white"></i>
                        </span>
                        <span class="text-white">Continue Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}