{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="look"></div>
    <div class="container">
        <div class="row">
            <div class="col my-5 text-center mt-3">
                <h2 class="text-gray my-5">Order Successful!</h2>
                <hr class="w-50 mb-1 my-5">
                <p class="text-black">Confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
			<div class="col-12 text-center">
				<a href="{% url 'products' %}?category=mens,womans,kids,cases,wipes" class="btn btn-green rounded-0 my-2">
					<span class="icon mr-2">
						<i class="fas fa-shopping-bag text-white"></i>
					</span>
					<span class="text-uppercase">Also See Other Products!</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}