html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: lightgray;
    font-family: 'Julius Sans One', sans-serif;
}

.responsive {
  width: 100%;
  height: auto;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* backgrounds */
.bg-green{
    background-color: green;
}

.bg-biege{
    background-color: lightgoldenrodyellow;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.navbar-toggler{
    background-color: white!important;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


.btn-green {
    background: green;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: lightgreen;
    color: white;
}


/* text colors */
.text-white {
    color: white !important;
}

.text-black{
    color: black !important;
}

.text-green{
    color: green !important;
}

.basic{
    font-size: 12px;
}

.text-gray{
    color: darkgrey!important;
}

.benefits{
    background-color: azure;
    margin: 10px;
}

.benefit-header{
    margin-bottom: 30px;
}

.border-black {
    border: 1px solid black !important;
}

.look {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
