<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=desc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" 
            id="glasses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Glasses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="glasses-link">
                <a href="{% url 'products' %}?category=mens" class="dropdown-item">Mens</a>
                <a href="{% url 'products' %}?category=womans" class="dropdown-item">Womans</a>
                <a href="{% url 'products' %}?category=kids" class="dropdown-item">Kids</a>
                <a href="{% url 'products' %}?category=mens,womans,kids"class="dropdown-item">All Glasses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="accsessories-link" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accsessories 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accsessories-link">
                <a href="{% url 'products' %}?category=cases" class="dropdown-item">Cases</a>
                <a href="{% url 'products' %}?category=wipes" class="dropdown-item">Wipes</a>
                <a href="{% url 'products' %}?category=cases,wipes" class="dropdown-item">All Accsessories</a>
            </div>
        </li>
    </ul>
</div>