{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block mystyle_content %}
<div class="look"></div>
    <div class="container">
       <div class="row">
            <div class="col my-5 text-center mt-3">
                <h2 class="text-gray my-5">{% trans "Account Inactive" %}</h2>
                <hr class="w-50 mb-1 my-5">
            </div>
        </div>
    </div>

<p class="text-black">{% trans "Your account is inactive." %}</p>
{% endblock %}